body {
    background-image: "https://www.pexels.com/photo/blue-skies-53594/";
}

.header {
    font-weight: bold;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}


/* Add a background color to the top navigation and hide bullets */
.nav {
    background-color: white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .nav {
    float: right;
    font-size: 2em;
   
  }

  .nav a {
    color: blue;
    text-align: center;
    padding: 14px 16px;
    font-size: 1em;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: blue;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .nav a.active {
    background-color: lightblue;
    color: white;
  }
/* self image formatting */
#selfie {
    display: flex;
    height: 12%;
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 50%;
    
}

/* image and header formatting */
.topLine {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 200px;
    width: 80%;
    justify-content: center;
    align-items: center;
}
/* nav jump links */
#bio, #portfolio, #contact, #about {

}
