body {
    background-color: gray;
}

.header {
    font-weight: bold;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Add a background color to the top navigation and hide bullets */
.nav {
    background-color: white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .nav {
    float: right;
  }

  .nav a {
    color: blue;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: purple;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .nav a.active {
    background-color: blue;
    color: white;
  }

img {
    display: flex;
    height: 12%;
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 50%;
    
}

/* image and header formatting */
.topLine {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 200px;
    width: 80%;
    justify-content: center;
    align-items: center;
}

/* first line portfolio */
.container1 {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 193px;
    width: 100%;
    color: purple;
    background-color: plum;
    /* font-size: 1.2em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif; */
}
/* second line portfolio */
    .container2 {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 205px;
        width: 100%;
        color: purple;
        background-color: beige;
    
    }

    /* portfolio table */
    #port {
        display: inline-flex;
        flex-direction: column;
    
    }
    #port a:hover {
    background-color: blue;
    color: black;
    font-size: 1.5em;
  }
  
  #port a.active {
    background-color: red;
    color: white;

    }
/* third line portfolio */
    .container3 {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 180px;
        width: 100%;
        color: purple;
        background-color: plum;
    }

    #cont {
        display: inline-flex;
        flex-direction: column;
    
    }
    #cont a:hover {
    background-color: lightskyblue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
  }
  
  #cont a.active {
    background-color: red;
    color: white;
  }

#bio, #portfolio, #contact, #about {
    display: flex;
    align-self: center;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
    font-weight: normal;
}

.footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: white;
    text-align: center;
}