* {
  box-sizing: border-box;
}

.header {
    font-weight: bold;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}


/* Add a background color to the top navigation and hide bullets */
.nav {
    background-color: white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .nav {
    float: right;
    font-size: 1.7em;
   
  }

  .nav a {
    color: blue;
    text-align: center;
    padding: 14px 16px;
    font-size: 1em;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: blue;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .nav a.active {
    background-color: lightblue;
    color: white;
  }
/* self image formatting */
#selfie {
    display: flex;
    height: 12%;
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 50%;
    
}

/* image and header formatting */
.topLine {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 200px;
    width: 80%;
    justify-content: center;
    align-items: center;
}
/* About me section (aside) */
#container {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    margin: 0; 
    font-size: 2em;
}

/* About Me flex container */
#aboutmeheader {
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
    font-size: 1.5em;
    font-family: fantasy;

}

.portfolio {
  display: flex;
  justify-content: center;
  background-color: lightskyblue;
  flex-direction: row;
  font-size: 1.5em;
  font-family: cursive;
  flex-wrap: wrap;
}

#porttitle {
  font-size: 1.75em;
  font-family: fantasy;
  padding-right: 2em;
}

.contactwrapper {
  display: flex;
  justify-content: flex-end;
}

.contactheader {
  /* display: flex;
  justify-content: flex-end; */
  font-size: 2em;
  background-color: lightsteelblue;
  padding-right: 2em;

}

#contactinfo {
  display: flex;
  justify-content: flex-end;
  font-size: 1.25em;
  background-color: lightsteelblue;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: flex-end;
}

#pic2 {
  padding-right: 2em;
  height: 35%;
}

.otherpics {
  display: flex;
  padding-top: 2em;
}

footer {
  text-align: center;
  background-color: lightblue;
}

/* media screen settings */
@media screen and (max-width: 968px) {
   .nav {
       display: flex;
       flex-direction: column;
   }

   .topLine {
       display: flex;
       flex-direction: column;
       font-size: 1.7em;
    ;
   }

   body {
       background-color: gray;
   }

   img {
       height: 50%;
       width: 50%;
   }

   .container {
       display: flex;
       flex-direction: column;
   }
}